<style>

.btn {
    border: black;
    color: white;
    background-color: blue;
    padding: 20px 40px;
    font-size: 25sp;
    cursor: pointer;
}

.header{
    font: small-caps bold 24px/1 sans-serif;
}

.div {
    text-align: center;
    margin: 0;
    height: 250px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 35sp;
}

.icon_btn {
    border: black;
    background-color: blue;
    color: white;
    position: absolute;
    right: 25px;
    top: 25px;
    size: 100px;
    font-size: medium;
    cursor: pointer;
}

</style>

    <title> GOOGLE TASKS API | G17 </title>
    <a href="https://developers.google.com/tasks/reference/rest">
        <button class = "icon_btn"> INFO </button>
    </a>

    <div class = "div" >

        <h1 class="header"> GOOGLE TASKS API </h1>

        <a href="/login">
            <button class ="btn"> LOGIN </button>
        </a>
    </div>
    <div class = "footer">
        <p> G17</p>
        <p> 44860 - Inês Franco | 47179 - Afonso Cabaço</p>
    </div>

