<style>

.btn {
    border: black;
    color: white;
    background-color: blue;
    padding: 20px 40px;
    font-size: 25sp;
    cursor: pointer;
}

.header{
    padding-top: 10%;
    text-align: center;
    font: small-caps bold 24px/1 sans-serif;
}

.div {
    text-align: center;
    margin: 0;
    height: 250px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 35sp;
}

.form {
    text-align: center;
}

</style>


    <title> GOOGLE TASKS API | G17 </title>

     <a href="/tasks">
        <button class="btn"> TASKS </button>
    </a>


    <h1 class="header"> TASKS LIST</h1>
    {{#each list}}
        <p class = "list"> {{title}} </p>
    {{/each}}


    <a href="/out">
        <button class = "btn"> LOGOUT </button>
    </a>

    <form class="form" method="post">
        <input type="text" name="title" placeholder="New Task">
        <input type="submit" value="Insert">
    </form>


     <div class = "footer">
        <p> G17</p>
        <p> 44860 - Inês Franco | 47179 - Afonso Cabaço</p>
    </div>